1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
    - Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
    - Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
    - Исключим стоп-слова с помощью stop_words='english'.
    - Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
    - Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
    - Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
    - Исключим стоп-слова с помощью stop_words='english'.
    - Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

3. Натренируем gensim.models.Word2Vec модель на наших данных.
    - Тренировать будем на токенизированных твитах combine_df['tweet_token']
    - Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.
    - Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

In [1]:
import pandas as pd
from pathlib import Path
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from gensim.models import Word2Vec

In [2]:
HOME_DIR = Path('..')
INPUT_DIR = HOME_DIR / 'output/l1/'

train_df = pd.read_pickle(INPUT_DIR / 'dummy.pkl')
train_df.head()

,id,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, cause, offer, wheel..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,#model i love u take with u all the time in ...,model love yoyou take with yoyou all the time ...,"[model, love, yoyou, take, with, yoyou, all, t...","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]","[model, love, yoyou, take, yoyou, time, yoyour]"
4,5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

In [3]:
def fill_bag(data, vect):
    col_corpus = []
    [col_corpus.extend(a) for a in data]
    bag = vect.fit_transform(col_corpus)

    feature_names = vect.get_feature_names_out()
    bag_df = pd.DataFrame(bag.toarray(), columns = feature_names)
    return bag_df

In [4]:
tweet_stemmed_c_vect = CountVectorizer(analyzer='word', max_df=0.9, max_features = 1000, stop_words='english')
tweet_stemmed_bag_df = fill_bag(train_df['tweet_stemmed'], tweet_stemmed_c_vect)

tweet_stemmed_bag_df.head(5)

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
tweet_lemmatized_c_vect = CountVectorizer(analyzer='word', max_df=0.9, max_features = 1000, stop_words='english')
tweet_lemmatized_bag_df = fill_bag(train_df['tweet_lemmatized'], tweet_lemmatized_c_vect)

tweet_lemmatized_bag_df.head(5)

,able,absolutely,accept,account,act,action,actor,actually,adapt,add,...,yoga,york,young,youtube,yoyou,yoyour,yoyoyou,yr,yrs,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
tweet_stemmed_t_vect = TfidfVectorizer(analyzer='word', max_df=0.9, max_features = 1000, stop_words='english')
tweet_stemmed_bag_df = fill_bag(train_df['tweet_stemmed'], tweet_stemmed_t_vect)

tweet_stemmed_bag_df.head(5)

,abl,absolut,accept,account,act,action,activ,actor,actual,ad,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
tweet_lemmatized_t_vect = TfidfVectorizer(analyzer='word', max_df=0.9, max_features = 1000, stop_words='english')
tweet_lemmatized_bag_df = fill_bag(train_df['tweet_lemmatized'], tweet_lemmatized_t_vect)

tweet_lemmatized_bag_df.head(5)

,able,absolutely,accept,account,act,action,actor,actually,adapt,add,...,yoga,york,young,youtube,yoyou,yoyour,yoyoyou,yr,yrs,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
tweet_token_W2V = Word2Vec(sentences=train_df['tweet_token'], vector_size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34)
tweet_token_W2V.train(train_df['tweet_token'], total_examples=len(train_df['tweet_token']), epochs=20)

(9174600, 11679520)